<!-- <div *ngIf="selectedHero">

<h2>{{ selectedStackpost.title| uppercase }} Details</h2>

<div><span>id: </span>{{selectedStackpost.id}}</div>
<div><span>post title: </span>{{selectedStackpost.title}}</div>
<div><span>post comment: </span>{{selectedStackpost.comment}}</div>

<div>
    <label>enter comment:
      <input [(ngModel)]="selectedStackpost.comment" placeholder="statckpost comment">
    </label>
</div>
</div>



<h2>My Posts</h2>
<ul>
  <li *ngFor="let post of stackposts" (click)="onSelect(post)">
    <span >{{post.id}}</span> {{post.title}}
  </li>
</ul> -->


<h2>My Posts</h2>
<ul >
  <li *ngFor="let post of stackposts"
    [class.selected]="post === selectedStackpost"
    (click)="onSelect(post)">
    <span >?id: {{post.question_id}},</span> {{post.title}} <br><a href="{{post.link}}" target="_blank"> read it on stack overflow</a><br>
  </li>
</ul>

<app-stackpost-detail [stackpost]="selectedStackpost"></app-stackpost-detail>

<h2> add here </h2>

<div>
<label>Input questionId:
  <input #questionId />
</label>
<!-- (click) passes input value to add() and then clears the input -->
<button (click)="lookup(questionId.value); questionId.value=''">
  add
</button>
</div>

<div>
<label>Add most votes by keyword in title:
  <input #keyword />
</label>
<!-- (click) passes input value to add() and then clears the input -->
<button (click)="keywordLookup(keyword.value); keyword.value=''">
  add
</button>
</div>

<div>
<label>Index to delete:
  <input #index />
</label>
<button (click)="delete(index.value); index.value=''">
  delete
</button>
</div>
